html,body,#app{
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1366px;
}
.el-breadcrumb{
    margin-bottom: 15px;
    font-size: 13px;
}
.ql-editor{
    min-height: 300px;
}
/*element cascade超出屏幕显示，百分比没效果*/
.el-cascader-panel {
    height: 500px;
}
/* 隐藏横向滚动条 */
.el-scrollbar__wrap{
    overflow-x: hidden;
}
